{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1>Up主列表</h1>
        <div style="margin-top: 30px;">
            <form class="d-flex" role="search" method="post">
                {% csrf_token %}
                <input class="form-control me-2" type="search" placeholder="新增up主id" style="width: 300px;" name="mid">
                <button class="btn btn-outline-success" type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-plus-lg"
                         viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
                    </svg>
                    新增
                </button>
            </form>
        </div>

        <div style="margin-top: 20px;">
            <table class="table table-bordered table-light">
                <thead>
                <tr>
                    <th>id</th>
                    <th>mid</th>
                    <th>up主</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for obj in queryset %}
                    <tr>
                        <td>{{ obj.id }}</td>
                        <td>{{ obj.mid }}</td>
                        <td>{{ obj.name }}</td>
                        <td>
                            <a href="/{{ obj.id }}/edit">编辑</a>
                            <a href="/{{ obj.id }}/delete">删除</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>

{% endblock %}