{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1>视频列表</h1>
        <div style="margin-top: 30px;">
            <a href="refresh">刷新视频列表</a>
        </div>
        <div style="margin-top: 20px;">
            <table class="table table-bordered table-light">
                <thead>
                <tr>
                    <th>id</th>
                    <th>up主</th>
                    <th>视频标题</th>
{#                    <th>视频链接</th>#}
                    <th>发布时间</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for obj in queryset %}
                    <tr>
                        <td>{{ obj.id }}</td>
                        <td>{{ obj.name }}</td>
                        <td><a href="{{ obj.href }}" target="_blank">{{ obj.title }}</a></td>
                        <td>{{ obj.created }}</td>
                        <td>{{ obj.get_status_display }}</td>
                        <td>
                            <button>删除</button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>

{% endblock %}